html {
  box-sizing: border-box;
  line-height: 1.5;
  background-color: #fff;
  font-family: Oswald, sans-serif, Karma, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 1rem;
  padding: .25em;
  display: block;
}

h2 {
  font-family: Oswald, sans-serif;
  color: #6f00e7;
  align-items: center;
  justify-content: center;
  margin: 1.5rem;
  padding: .5em 1.5em .7em;
  font-size: 2rem;
  text-align: center;
  font-weight: bolder;
  display: flex;
}

img .image {
  width: 100%;
  margin-bottom: 1.5rem;
}

ol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
  margin: 0;
  gap: 1rem;
}

ol li {
  background-color: #fff;
  border: 3px solid #987ffa;
  display: block;
  flex-direction: column;
  border-radius: 6px;
  padding: 1rem;
  grid-column-gap: 1rem;
  justify-content: space-between;
}

ul li {
  border: 0;
  padding: 1rem;
}

p {
  margin: 1.5rem;
  justify-content: center;
  align-items: center;
  padding: .5em 1.5em .7em;
  color: #000;
  font-family: Karma;
  font-size: 1.4rem;
  text-align: center;
}

a:first-child {
  border-radius: 3em;
  background-color: #6f00e7;
  padding: .5em 1.5em .7em;
  margin: 0 0 auto;
  color: #fff;
  text-decoration: none;
  font-family: Oswald;
}

a:nth-child(2) {
  float: right;
  margin: .25em;
  padding: .25em;
}

a:nth-child(3) {
  float: right;
  margin: .25em;
  padding: .25em;
}
